{% extends "layout.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
<!--    <article class="media content-section">-->
<!--      <div class="media-body">-->
<!--        <div class="article-metadata">-->
<!--          <p><a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> said:</p>-->
<!--        </div>-->
<!--&lt;!&ndash;        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>&ndash;&gt;-->
<!--        <p class="article-content">{{ post.body }}</p>-->
<!--        <small class="text-muted">{{ post.timestamp }}</small>-->
<!--        <hr>-->
<!--      </div>-->
<!--    </article>-->
    {% endfor %}
    {% if page %}
    <p>Current page: {{ page }}</p>
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock content %}