{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <h1 class="mb-3 m-3">{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>

{#    <h1 class="mb-3 m-3">{{ _('Hello') }}, {{ current_user.username }}!</h1>#}
    {% if form %}
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-floating row-cols-sm-3 mb-3">
        {{ form.post(style="height: 120px", class_="form-control", placeholder=form.post.label.text) }}
        <label>{{ form.post.label.text }}</label>
        {% for error in form.post.errors %}
        <label class="form-control is-invalid">{{ error }}</label>
        {% endfor %}
      </div>
      {{ form.submit(class_="btn btn-primary m-3 mb-3") }}
{#      <button type="submit" class="btn btn-primary m-3 mb-3">Submit</button>#}
      <hr>
    </form>
    {% endif %}
  </div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
  <div class="container">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link{% if prev_url %} disabled{% endif %}" href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <li class="page-item">
          <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock content %}