{% extends "layout.html" %}

{% block content %}
<div class="container">
    <table class="table table-borderless">
        <tr class="row">
            <td>
                <img src="{{ user.avatar(128) }}" alt="user image"/>
            </td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LL') }}</p>{% endif %}
                <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}.</p>
                {% if user == current_user %}
                <p><a style="text-decoration: none" href="{{ url_for('main.edit_profile') }}">{{ _('Edit Profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(class_='btn btn-secondary', value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(class_='btn btn-secondary', value='Unfollow') }}
                    </form>
                {% endif %}
                </p>
            </td>
        </tr>
    </table>
</div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <div class="container">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link {% if prev_url %} disabled {% endif %}" href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <li class="page-item">
          <a class="page-link {% if next_url %} disabled {% endif %}" href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
{% endblock content %}